.container#playlist-show
  .columns.is-desktop
    .column.is-one-quarter-desktop
      .columns.is-multiline.is-mobile
        .column.is-full-desktop.is-one-fifth-tablet.is-one-fifth-mobile
          .box.is-paddingless
            %figure.image
              %img{ src: @playlist.versions.last.artwork_url }
        .column.is-full-desktop.is-four-fifths-tablet.is-four-fifths-mobile
          .box#playlist-info-box
            %h1= @playlist.name
            %h1
              = @playlist.versions.last.description
            %h1
              Song Count:
              = @playlist.versions.last.songs.count
            %h1
              Followers:
              = @playlist.versions.last.followers
        .column.is-full-desktop
          .box
            = link_to 'Connect to Spotify', '/connect_to_spotify'
        .column.is-full-desktop
          .box
            = link_to 'Make new playlist', save_to_profile_playlist_version_path(@playlist, @playlist.versions.last), method: :post
        .column.is-full-desktop#playlist-version-column
          %nav.panel
            %p.panel-heading
              Versions
            - @playlist.versions.each do |version|
              .panel-block
                = link_to version.formatted_date, playlist_version_path(@playlist, version)
    .column
      .box
        %table#songs-table.table.is-fullwidth
          - @songs.each do |song|
            %tr
              %td
                %img.song-list-artwork{ src: song.artwork_url }
              %td= song.name
              %td
                = song.artists.map { |a| link_to a.name, artist_path(a) }.join(' &sdot; ').html_safe
              %td
                = link_to "https://open.spotify.com/track/#{song.spotify_id}", class: 'spotify-play-icon', target: "_blank" do
                  %i.fas.fa-play-circle
