.container#playlist-show
  .columns.is-desktop
    .column.is-one-quarter-desktop
      .columns.is-multiline.is-mobile
        .column.is-full-desktop.is-one-fifth-tablet.is-one-fifth-mobile
          .box.is-paddingless
            %figure.image
              %img{ src: @playlist_version.artwork_url }
        .column.is-full-desktop.is-four-fifths-tablet.is-four-fifths-mobile
          .box#playlist-info-box
            %h1= @playlist_version.playlist.name
            %h1
              = @playlist_version.description
            %h1
              Song Count:
              = @playlist_version.songs.count
            %h1
              Followers:
              = @playlist_version.followers
        .column.is-full-desktop
          - if connected_to_spotify?
            = link_to save_to_profile_playlist_version_path(@playlist_version.playlist, @playlist_version), method: :post, remote: true, class: 'button is-outlined is-white no-highlight', id: 'save-playlist-btn' do
              %span.icon.is-small
                %i.fab.fa-spotify
              %span Save Playlist
          - else
            .box
              Connect to Spotify to save a copy of this playlist!
        .column.is-full-desktop#playlist-version-column
          %nav.panel
            %p.panel-heading
              Versions
            - @playlist_version.playlist.versions.order(created_at: :desc).each do |version|
              .panel-block
                = link_to version.formatted_date, playlist_version_path(@playlist_version.playlist, version)
    .column
      .box
        %table#songs-table.table.is-fullwidth
          - @songs.each_with_index do |song, position|
            %tr
              %td.song-position= position + 1
              %td.song-artwork-td
                = link_to "https://open.spotify.com/track/#{song.spotify_id}", class: 'no-highlight', target: "_blank" do
                  %img.song-list-artwork{ src: song.artwork_url }
                  .play-overlay
                    %i.fas.fa-play
              %td= song.name
              %td
                = song.artists.map { |a| link_to a.name, artist_path(a) }.join(' &sdot; ').html_safe
