.container#playlist-show
  .columns.is-desktop
    .column.is-one-quarter-desktop
      .columns.is-multiline.is-mobile
        .column.is-full-desktop.is-one-fifth-tablet.is-one-fifth-mobile
          .box.no-padding
            %figure.image
              %img{ src: @playlist.versions.last.artwork_url }
        .column.is-full-desktop.is-four-fifths-tablet.is-four-fifths-mobile
          .box#playlist-info-box
            %h1= @playlist.name
    .column
      .box
        %table#songs-table.table.is-fullwidth
          - @songs.each do |song|
            %tr
              %td
                %img.song-list-artwork{ src: song.artwork_url }
              %td= song.name
              %td
                = song.artists.map { |a| link_to a.name, artist_path(a) }.join(' &sdot; ').html_safe
              %td
                = link_to 'Play', "https://open.spotify.com/track/#{song.spotify_id}"




            -#
            -# .media-content
            -#   .content
            -#     %h1= @playlist.name
            -#   %nav.level.is-mobile
            -#     .level-left
            -#       %a.level-item
            -#         %span.icon.is-small
            -#           %i.fas.fa-reply
            -#       %a.level-item
            -#         %span.icon.is-small
            -#           %i.fas.fa-retweet
            -#       %a.level-item
            -#         %span.icon.is-small
            -#           %i.fas.fa-heart
